tests/data/devices.pkl filter=lfs diff=lfs merge=lfs -text
tests/data/device_tags.pkl filter=lfs diff=lfs merge=lfs -text
tests/data/releases.pkl filter=lfs diff=lfs merge=lfs -text
tests/data/release_tags.pkl filter=lfs diff=lfs merge=lfs -text
tests/data/applications.pkl filter=lfs diff=lfs merge=lfs -text
